<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The Next Book</title>
</head>
<body>
	<!--Footer estatico-->
    <div class="Footer" th:fragment="footer">
        <div class="Footer__Box">
            <img th:src='@{/images/Logo.jpeg}' alt='Logo' id='Logo' class='Footer__Box__Logo'/>
            <div class='Footer__Box__Contact'>
                <p>¿Tienes alguna duda?</p>
                <a class="Footer__Box__Contact__a" href='/contact'>Contactanos</a>
            </div>
        </div>
        <div class="Footer__Copyright">
            <p>Copyright 2022</p>
        </div>
    </div>
</body>
</html>