<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The Next Book</title>
</head>
<body>
	<!--Header estatico-->
    <div class="Header" th:fragment="header">
        <div class="Header__FirstBox">
            <a href="/" class="Header__FirstBox__Enlace"><img th:src='@{/images/Logo.jpeg}' alt="logo" id="logo" class="Header__FirstBox__Enlace__Logo" /></a>
            <form action="" method="post" class="Header__FirstBox__Search">
              <div class="Header__FirstBox__Search__Box">
                <input type="text" class="Search__Texto" name='texto' placeholder="¿Qué buscas?"/>
                <button class="Search__Button"><img class="Search__Button__Img__Button" th:src="@{/images/IconosSVG/search.svg}" /></button>         
              </div>
            </form>
            <div class="Header__FirstBox__ShopCart">
                <a class="ShopCart__Link" th:href="@{/shopcart}"><img class="Header__FirstBox__ShopCart__Link__Img" th:src="@{/images/IconosSVG/shopCart.png}" alt="Carrito"></a>           
            </div>
        </div>
        <div class="Header__NavBar">
          <ul class="Header__NavBar__ul">
            <li>
              <a th:href='@{/search/libros}'>Libros</a>
            </li>
            <li>
              <a th:href='@{/search/autores}'>Autores</a>
            </li>
            <li>
              <a th:href='@{/contact}'>Contacto</a>
            </li>
          </ul>

			<div class="Header__NavBar__Login">
				<button class="Header__NavBar__Login__BotonInicio">
	            	<a th:href='@{/login}' class="Header__NavBar__Login__BotonInicio__Enlace">Inicio Sesión</a>
	          	</button>
	          	
	          	<!--  <div>
				    <p>Logged as: <span sec:authentication="name"></span></p>
				    <p>Has role: <span sec:authentication="authorities"></span></p>
				    <div sec:authorize="hasAuthority('ROLE_USER')" th:insert="fragments/User :: user"></div>
				    <div sec:authorize="hasAuthority('ROLE_ADMIN')" th:insert="fragments/Admin :: admin"></div>
				    <a th:href="@{/logout}">Log out</a>
				</div>-->
			</div>
        </div>
    </div>
</body>
</html>