<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>The Next Book</title>
	<link th:href="@{/../css/Header.css}" rel="stylesheet">
	<link th:href="@{/../css/Footer.css}" rel="stylesheet">
	<link th:href="@{/../css/Login.css}" rel="stylesheet">
</head>
<body>

	<div th:insert="fragments/Header :: header"></div>
	
		<div class="Login"><!-- formulario de logeo en el que controlo los requisitos que he impuesto -->
			 <div class="Login__Icon">
             	<img src="static/images/IconosSVG/user.png" th:src="@{/images/IconosSVG/user.png}"/>
             </div>
			
            <form class="Login__Form" method="POST" th:action="@{/login}">
                <!-- Username -->
                <div class="Login__Form__Datos">
                    <label for="text" class="Login__Form__Datos__Label">Nombre de Usuario</label>
                    <input type="text" class="Login__Form__Datos__Box" name="username" placeholder="Nombre de Usuario">
                </div>
    			<!-- Contraseña -->
                <div class="Login__Form__Datos">
                    <label for="password" class="Login__Form__Datos__Label">Contraseña</label>
                    <input type="password" class="Login__Form__Datos__Box" name="password" placeholder="Password">
                </div>
                
                <div class="Login__Form__Enlace">
                    <p>¿No tienes cuenta? <a th:href="@{/registro}" class="Login__Form__Enlace__Registro">Registrate aquí</a></p>
                </div>
                <div class="Login__Form__Boton">
                    <input type='submit' value="Iniciar Sesión" class="Login__Form__Boton__Enviar"/>
                </div>
                
                <div th:if="${param.error}" class="Login__Form__Error-Cont">
		            <p>Nombre de usuario o contraseña invalida</p>
		        </div>
		        <div th:if="${param.logout}" class="Login__Form__Error-Login">
		            <p>No estas registrado.</p>
		        </div>
            </form>
        </div>

	 <div th:insert="fragments/Footer :: footer"></div>

</body>
</html>